<h1>contact list</h1>
<hr>
<form name="contactForm" novalidate ng-submit="updateView()" >
  <div class="form-group"
      ng-class="{'has-error': contactForm.content.$invalid
        && contactForm.content.$dirty}">

    <input type="text" class="form-control focus" name="Name"
        placeholder="Name" autocomplete="off" 
        ng-model="newcontact.Name">

    <span></span>
    <input type="number" class="form-control focus" name="PhoneNumber"
        placeholder="Number" autocomplete="off"
        ng-model="newcontact.PhoneNumber">

    <span class="has-error control-label" ng-show="
        contactForm.content.$invalid && contactForm.content.$dirty">
      Content is required.
    </span>
  </div>
  <button class="btn btn-default" ng-disabled="contactForm.$invalid" ng-click="addcontact()" >Add</button>
  <span></span>
  <button class="btn btn-search" ng-disabled="contactForm.$invalid" ng-click="searchcontact(contact)">Search</button>
  <span></span>
  <button class="btn btn-search"  ng-click="getAll()">Get All Contacts</button>
</form>
<hr>
<div class="list-group">
  <a class="list-group-item" ng-repeat="contact in contacts">{{"Name :" +contact.Name +"    Phone :" +contact.PhoneNumber}}&nbsp;
    <button class="glyphicon glyphicon-remove pull-right"
        ng-click="removecontact(contact)"></button>
    <button class="glyphicon glyphicon-edit pull-right"
        ng-click="editcontact(contact)"></button>
  </a>
</div>
